body {
    background-color: #f9f9fb;
    color: #363636;
    margin-top: 150px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.err-msg-top {
    position: relative;
    height: 200px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

.err-msg-top__code {
    font-size: 15em;
    font-family: 'Monserrat Bold';
    position: absolute;
}

.err-msg-top__desc {
    width: 500px;
    height: 20px;
    line-height: 23px;
    background-color:  #f9f9fb;
    font-size: 1.4em;
    font-family: 'Hind Regular';
    letter-spacing: 9px;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    bottom: 28%;
}

.search-form {
    width: 500px;
    height: 30px;
    margin-top: 40px;

    display: flex;
    align-items: stretch;
}

.search-form input {
    border-width: 0;
    border: 1px solid #ccc;
}

.search-form input[type="text"] {
    padding-left: 20px;
    flex: 4;
}

.search-form input[type="submit"] {
    background-color: #363636;
    color: #fff;
    flex: 1;
}

.err-msg-bot {
    font-family: 'Monserrat Bold';
    position: relative;
    height: 200px;
    margin: auto;
    margin-top: 40px;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.err-msg-bot--big {
    font-size: 2em;
}

.err-msg-bot--grey {
    color:#acacad;
    margin-top: 5px;
}

.home-img {
    position: relative;
    top: 3px;
}

.err-msg-bot a {
    display: inline-block;
    margin-top: 10px;
    font-family: 'Monserrat Regular';
    text-decoration: none;
    color: #5d5d5d;
}

@media only screen and (max-width: 415px) {
    .err-msg-top__code {
        font-size: 9em;
    }

    .err-msg-top__desc {
        height: 14px;
        line-height: 17px;
        font-size: 0.8em;
        letter-spacing: 4px;
        bottom: 36.5%;
    }

    .search-form {
        width: 300px;
        margin-top: 0;
    }
}